.siteinfo {
  padding-top: 5%;
  padding-bottom: 7%;
}

.sitename {
font-family: meddon, cursive;
max-width: 95%;
}

.whatwedo {
display: flex;
justify-content: space-between;
  font-size: 1.7em;
  margin-top: 3em;
  margin-left: 1vw;
  margin-right: 1vw;

}

.listitems {
  margin-left: 2vw;
  margin-right: 2vw;
  float: left;
  column: center;
}

@media screen and (max-width: 1280px) {
  .sitename {
    /* font-size: 2.5em; */
  }
  .whatwedo {
    flex-direction: column;
    /* font-size: 1.5em; */
  }
  .listitems {
    /* font-size: 1.5em; */
  }

}
